.enc
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  position: relative
  height: calc(-60px + 50vh)

.enc-title
  font-size: 50px
  font-weight: 900
  z-index: 1
  line-height: 50px !important

.enc-svg
  position: absolute
  width: 100%
  height: 100%
  svg
    fill: #d0cece
    width: 100%
    height: 100%


